<div class="search mb-4 text-center ">
  <form #form="ngForm" (submit)="onSubmit()" >
    <input class="bg-[#6f65cc] outline-none border-none rounded-2xl p-4 text-gray-200 text-lg text-center mt-10" type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>

</div>

<div class="container w-[400px] h-[70vh] bg-[#4C52AD] rounded-2xl shadow-xl mx-auto mt-10" *ngIf="weatherData" >
  
  <div class="upper-data relative overflow-hidden w-full h-[50%] rounded-t-2xl">
    
    <img class="absolute top-0 left-0 w-full h-full" src="../assets/night.png" *ngIf="weatherData.main.temp < 15">
    <img class="absolute top-0 left-0 w-full h-full" src="../assets/day.png" *ngIf="weatherData.main.temp > 15">

    <div class="weather-data relative z-10 w-full h-full bg-[#0000004d] flex flex-col items-center justify-center">
      <div class="location text-white text-center text-sm">{{weatherData.name}}</div>
      <div class="tempature text-white text-6xl text-center font-bold">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
  
    </div>
  </div> 
  

  <div class="lower-data relative overflow-hidden w-full h-1/2 rounded-b-xl p-4 flex flex-col">
    <div class="more-info-label text-white ">More Information</div>
    <div class="more-info-container flex-1 bg-[#6f65cc] rounded-b-lg mt-4 flex flex-row flex-wrap">

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/cold.png" >
          <span class="text-white text-[14px]">min</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>
      

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/hot.png" >
          <span class="text-white text-[14px]">max</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/humidity.png">
          <span class="text-white text-[14px]">humidity</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/wind.png" >
          <span class="text-white text-[14px]">wind</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>

    </div>
  </div>

</div>
<!-- <div class="container w-[400px] h-[70vh] bg-[#4C52AD] rounded-2xl shadow-xl mx-auto mt-10" >
  
  <div class="upper-data relative overflow-hidden w-full h-[50%] rounded-t-2xl">
    
    <img class="absolute top-0 left-0 w-full h-full" src="../assets/night.png" *ngIf="14 <= 15">
    <img class="absolute top-0 left-0 w-full h-full" src="../assets/day.jpg" *ngIf="14 > 50">

    <div class="weather-data relative z-10 w-full h-full bg-[#0000004d] flex flex-col items-center justify-center">
      <div class="location text-white text-center text-sm">Wellington</div>
      <div class="tempature text-white text-6xl text-center font-bold">{{14.40 | number: '1.0-0'}}°C</div>
  
    </div>
  </div> 
  

  <div class="lower-data relative overflow-hidden w-full h-1/2 rounded-b-xl p-4 flex flex-col">
    <div class="more-info-label text-white ">More Information</div>
    <div class="more-info-container flex-1 bg-[#6f65cc] rounded-b-lg mt-4 flex flex-row flex-wrap">

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/cold.png" >
          <span class="text-white text-[14px]">min</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          10°C
        </div>
      </div>
      

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/hot.png" >
          <span class="text-white text-[14px]">max</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          20°C
        </div>
      </div>

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/humidity.png">
          <span class="text-white text-[14px]">humidity</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          77%
        </div>
      </div>

      <div class="info-block w-1/2 flex flex-row">
        <div class="info-blocl-label w-1/2 flex flex-col justify-center items-center">
          <img class="w-6 " src="../assets/wind.png" >
          <span class="text-white text-[14px]">wind</span>
        </div>
        <div class="info-block-value w-1/2 flex justify-start items-center text-white">
          12 km/h
        </div>
      </div>

    </div>
  </div>

</div> -->
<router-outlet></router-outlet>